* {
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
      Sans-Serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    color: #272727;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    background: #f3f3f3;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1300px) 1fr;
    grid-template-rows: 4rem auto 2rem;
    grid-gap: 1rem;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer";

    }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.1rem;
    font-size: 1.5em;
  }

  a {
      text-decoration: none;
  }

  .header {
      grid-area: header;
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr auto;
      align-content: center;
      background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  }

  .navigation {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .navigation > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;
  }

 .nav-link {
     text-decoration: none;
     color: black;
     font-weight: 700;
     margin: 0 1.5rem;
 }

 .site-title > a {
     text-decoration: none;
     color: black;
 }

 .site-title {
    padding: 1rem;
 }

  .main {
      grid-area: main;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 200px 1fr 1fr 1fr;
      grid-template-areas: 
    "hero           hero                hero                highlight"
    "hero           hero                hero                featured"
    "top-stories    special-edition     special-edition     featured"
    "top-stories    most-recent         most-recent         most-recent"
  }



  



.block {
    display: flex;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    flex-flow: column nowrap;
}


  .hero {
      grid-area: hero;
      justify-content: flex-end;
      padding: 2rem;
      
  }
 .hero-content {
        max-width: 450px;
        min-height: 200px;
    }


  .hero__category {
      color: #adadad;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bolder;
  }

  .hero__title {
      font-size: 3rem;
      color: white;
      position: relative;
  }

  .hero__title:hover {
      text-decoration: underline;
  }

  .hero__text::before {
        position: absolute;
       content: "";
       height: 2px;
       margin-top: -0.8rem;
       background-color: white;
       width: 2rem;    
  }

  .hero__text {
      color: white;
  }


.highlight {
    grid-area: highlight;
      justify-content: flex-end;
      padding: 2rem;
      background: linear-gradient(
        rgba(0, 0, 0, 0), 
        rgb(0, 0, 0)),
        url(https://source.unsplash.com/OqtafYT5kTw/600x400);
      
}


.story__category {
    color: #adadad;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: bolder;
}

.highlight .story__text {
    color: white;
}

.story__text:hover {
    text-decoration: underline;
}



.top-stories {
    grid-area: top-stories;
    
}

.top-stories .block__title {
    padding-bottom: 1rem;
}

.top-stories::after {
    position: absolute;
   content: "";
   height: 1px;
  margin-top: 2.5rem;
   background-color: black;
   width: 2rem;    
}

ol.story__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 2rem 2rem;
}

.special-edition {
    grid-area: special-edition;
}



.block__title--special {
    color: white;
    font-size: 26px;
    margin-bottom: 2rem;
}

.block-content--special .story__text {
    color: white;
    max-width: 200px;
}

.block-content--special .story__text::before {
    position: absolute;
   content: "";
   height: 2px;
   margin-top: -0.8rem;
   background-color: white;
   width: 2rem;    
}

.featured {
    grid-area: featured;
    /* border: 1px solid red; */
    height: 100%;
}

.featured-content {
    /* border: 1px solid red; */
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

.featured .block__title {
    padding-bottom: 1.5rem;
    position: relative;
}

.featured::after {
    position: absolute;
   content: "";
   height: 1px;
  margin-top: 2.5rem;
   background-color: black;
   width: 2rem;    
}

.featured-stories {
    /* border: 1px solid red; */
    height: 100%;
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-gap: 1rem 1rem;
  
   
    
}



.most-recent {
    grid-area: most-recent;
}

.recent-stories {
    display: grid;
    padding-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 1rem 1rem;
}

.most-recent .block__title {
    padding-bottom: 1rem;
}

.most-recent::after {
    position: absolute;
   content: "";
   height: 1px;
  margin-top: 2.5rem;
   background-color: black;
   width: 2rem;    
}




  .footer {
      grid-area: footer;
      text-align: center;
      /* background: rgba(255, 255, 255, 0.95);
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); */
  }